:root {
  font: 14px "Century Gothic", Futura, sans-serif;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  --section-color: #f2f2f2;
  --item-color: #ffffff;
  --hover-color: #1A1A1A;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --gray: #3B3B3B;

}

body {
  margin: 2rem;
}

.groupDiv {
  border-radius: 1rem;
  background-color: var(--section-color);
  padding: 1rem;
  width: ;
  display: inline-block;
  justify-content: center;
}

.group {

  background: var(--item-color);
  display: grid;
  margin: 1rem;
  padding: 1rem;
  height: auto;
  width: auto;
  line-height: 1rem;
  border: 0;
  float: left;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.2rem 0.4rem, var(--shadow-color) 0px 0.1rem 0.2rem;

}

/* CSS */
button {
  font-weight: 400;
  background-color: var(--item-color);
  color: var(--gray);
  border: 0.1rem solid var(--hover-color);
  border-radius: 1rem;
  box-sizing: border-box;
  display: inline-block;
  margin: 0.5rem 0;
  min-height: 4rem;
  outline: none;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: var(--item-color);
  background-color: var(--hover-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.5rem 1rem;
  transform: translateY(-0.2rem);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}


form {
  background-color: var(--section-color);
  padding: 1.5rem;
  border-radius: 0.4rem;
}

input {
  background: var(--item-color);
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid transparent;
  height: 2.0rem;
  box-shadow: 0 0 0 0.1rem var(--section-color), 0 0.2rem 0.4rem 0 var(--shadow-color), 0 0.1rem 0.1rem 0  var(--shadow-color);
}

input:focus {
  border: 0.1rem solid #000;
  border-radius: 0.4rem;
}